body {
    background-color: #F9FAFB; /* 원하는 색상으로 변경 */
    margin: 0; /* 기본 여백 제거 */
    padding: 0;
  }

.ex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ex-header {
  width: 100%;
  height: 6rem;
}

.ex-footer {
  width: 100%;
  height: 6rem;
}

.ex-search-bar {

}