.trade-box{
    display: flex;                /* 내부 요소 정렬을 위한 flexbox */
    align-items: center;

    width: 370px;
    height: 60px;
    border: 2px solid #b8b6b6;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    position: relative;

    cursor: pointer;
    color: rgb(104, 112, 127);
    font-weight: 600;
}

.trade-box:hover {
    background-color: #D9E4E9; /* 호버 시 배경색 변경 */
    border-color: #A1A1A1;     /* 호버 시 테두리 색 변경 */
}

.trade-title-bundle{
    width: 300px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* 세로로 정렬 */
    -webkit-line-clamp: 1;        /* 1줄까지만 보여주고, 나머지는 ...으로 숨김 */
    overflow: hidden;             /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;      /* ...으로 표시 */

    font-size: 15px;
    margin-left: 10px;
}

.trade-title{
    width: 300px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* 세로로 정렬 */
    -webkit-line-clamp: 1;        /* 1줄까지만 보여주고, 나머지는 ...으로 숨김 */
    overflow: hidden;             /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;      /* ...으로 표시 */

    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.trade-price{
    position: absolute;
    text-align: left;
    left: 12px;
    top: 33px;
    font-size: 14px;
}

.trade-option{
    width: 40px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: 600;
}

.trade-option-single{
    color: rgb(242, 94, 98);
}

.trade-option-bundle{
    width: 40px;
    /* margin-bottom: 20px; */
    text-align: right;
    font-weight: 600;
}

.trade-option-single-bundle{
    color: rgb(242, 94, 98);
}

.trade-option-deck{
    color: rgb(51, 164, 116);
}

.trade-date{
    position: absolute;
    right: 20px;
    top: 33px;
    font-size: 14px;
    /* background-color: aquamarine; */
}