.trade-box{
    display: flex;                /* 내부 요소 정렬을 위한 flexbox */
    align-items: center;

    width: 370px;
    height: 60px;
    border: 2px solid #b8b6b6;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    cursor: pointer;
}

.trade-box:hover {
    background-color: #D9E4E9; /* 호버 시 배경색 변경 */
    border-color: #A1A1A1;     /* 호버 시 테두리 색 변경 */
}

.trade-title{
    width: 250px;
    text-align: left;
    font-weight: 600;
    color: rgb(104, 112, 127);
    display: -webkit-box;
    -webkit-box-orient: vertical; /* 세로로 정렬 */
    -webkit-line-clamp: 2;        /* 2줄까지만 보여주고, 나머지는 ...으로 숨김 */
    overflow: hidden;             /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;      /* ...으로 표시 */
    margin-left: 15px;
}


.trade-option{
    margin-left: 35px;
    width: 50px;
    text-align: center;
    font-weight: 600;
}

.trade-option-single{
    color: rgb(242, 94, 98);
}

.trade-option-deck{
    color: rgb(51, 164, 116);
}