.trade-box{
    display: flex;                /* 내부 요소 정렬을 위한 flexbox */
    align-items: center;

    width: 370px;
    height: 130px;
    border: 2px solid #b8b6b6;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    position: relative;

    cursor: pointer;
    color: rgb(104, 112, 127);
    font-weight: 600;
}

.trade-box:hover {
    background-color: #D9E4E9; /* 호버 시 배경색 변경 */
    border-color: #A1A1A1;     /* 호버 시 테두리 색 변경 */
}

.trade-top{
    position: absolute;
    top: 5px;
    left: 85px;

    max-width: 200px;
    text-align: left;
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: hidden;    /* 넘친 텍스트 숨기기 */
    text-overflow: ellipsis; /* 초과 텍스트를 ...으로 표시 */

    font-size: 16px;
}
.trade-image-container{
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.trade-image{
    width: 100%;  /* 부모 div의 크기에 맞게 이미지 크기 설정 */
    height: 100%; /* 부모 div의 크기에 맞게 이미지 크기 설정 */
    object-fit: contain;  /* 이미지가 영역을 벗어나지 않도록 비율에 맞게 잘림 */
}

.trade-bottom{
    position: absolute;
    left: 85px;
    top: 30px;
    font-size: 14px;
}

.trade-quantity{
    width: auto;
    font-size: 15px;
}

.trade-price{
    /* position: absolute; */
    text-align: left;
    /* left: 11px; */
    /* top: 38px; */
    font-size: 14px;
}

.trade-special-char {
    vertical-align: 1px; /* 원하는 값으로 조절 */
}

.trade-extraOptions-box{
    margin-left: 80px;
    font-size: 14px;
}

.trade-extraOptions-possible{
    background-color: rgba(144, 238, 144, 0.87);
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
}

.trade-extraOptions-impossible{
    background-color: rgba(88, 172, 250, 0.63);
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
}

.trade-extraOptions-rarity{
    background-color: #F5DA81;
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
}

.trade-writer{
    display: flex;

    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 14px;
    align-items: center; /* 글자와 원을 수직 중앙 정렬 */
}

.trate-writer-name{
    margin-right: 3px;
}

.trade-writer-img-container{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aquamarine;
    text-align: center; /* 내부 텍스트 정렬 */
    display: flex; 
    align-items: center; /* 내부 텍스트 중앙 정렬 */
    justify-content: center;
}

.trade-writer-img{
    border-radius: 50%;
    width: 100%;  /* 부모 div의 크기에 맞게 이미지 크기 설정 */
    height: 100%; /* 부모 div의 크기에 맞게 이미지 크기 설정 */
    object-fit: cover;  /* 이미지가 영역을 벗어나지 않도록 비율에 맞게 잘림 */
}

.trade-date{
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: 14px;
}

.trade-comment{
    position: absolute;
    top: 85px;
    left: 8px;
    font-size: 14px;
    max-width: 350px;

    text-align: left;

    display: -webkit-box; /* Flexbox 스타일을 웹킷 박스로 설정 */
    -webkit-line-clamp: 2; /* 최대 2줄까지 표시 */
    -webkit-box-orient: vertical; /* 수직으로 텍스트 박스 정렬 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘친 텍스트를 '...'으로 표시 */
}