.trade-box{
    display: flex;                /* 내부 요소 정렬을 위한 flexbox */
    align-items: center;

    width: 370px;
    height: 65px;
    border: 2px solid #b8b6b6;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    position: relative;

    cursor: pointer;
    color: rgb(104, 112, 127);
    font-weight: 600;
}

.trade-box:hover {
    background-color: #D9E4E9; /* 호버 시 배경색 변경 */
    border-color: #A1A1A1;     /* 호버 시 테두리 색 변경 */
}

.trade-top{
    max-width: 300px;
    text-align: left;
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: hidden;    /* 넘친 텍스트 숨기기 */
    text-overflow: ellipsis; /* 초과 텍스트를 ...으로 표시 */

    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.trade-bottom{
    position: absolute;
    left: 11px;
    top: 38px;
    font-size: 14px;
}

.trade-quantity{
    width: auto;
    /* background-color: aquamarine; */
    font-size: 15px;
    /* margin-bottom: 20px; */
    /* margin-left: 10px; */
    
}

.trade-price{
    /* position: absolute; */
    text-align: left;
    /* left: 11px; */
    /* top: 38px; */
    font-size: 14px;
}

.trade-option{
    position: absolute;
    width: auto;
    right: 20px;
    top: 13px;

    font-weight: 600;
    font-size: 15px;
}

.trade-option-single{
    color: rgb(242, 94, 98);
}

.trade-option-deck{
    color: rgb(51, 164, 116);
}

.trade-date{
    position: absolute;
    right: 21px;
    top: 38px;
    font-size: 14px;
}

.trade-special-char {
    vertical-align: 1px; /* 원하는 값으로 조절 */
}

.trade-extraOptions{
    background-color: #A9F5A9;
    padding: 2px;
    border-radius: 5px;
}