.profile-main{
  width: 1000px;
  margin: 0 auto; 
  font-family: Arial, sans-serif; /* 글꼴 */
  padding: 30px;
}

.profile-post-box{
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  width: 805px;
  padding: 7px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #E6E6E6;
}

.profile-post-head {
  display: flex;
  justify-content: space-between; /* 좌우 배치 */
}

.profile-purchase{
  display: flex;
  justify-content: center;  /* 가로 중앙 */
  align-items: center;      /* 세로 중앙 */

  width: 390px;
  height: 45px;
  border-radius: 5px;
  background-color: #B2DFDB; /* 파스텔 민트 */
  font-weight: 600;
  margin-right: 10px;
}

.profile-sale{
  display: flex;
  justify-content: center;  /* 가로 중앙 */
  align-items: center;      /* 세로 중앙 */

  width: 390px;
  height: 45px;
  border-radius: 5px;
  background-color: #FFCDD2; /* 파스텔 핑크 */
  font-weight: 600;
  margin-left: 10px;
}