.profile-main{
  width: 1000px;
  margin: 0 auto; 
  font-family: Arial, sans-serif; /* 글꼴 */
  padding: 100px;
}

.profile-post-box{
  display: flex;
  justify-content: space-between; /* 좌우 배치 */
  width: 805px;
  padding: 7px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #E6E6E6;
}

.profile-trade-box{
  text-align: center;
}

.profile-purchase{
  display: flex;
  justify-content: center;  /* 가로 중앙 */
  align-items: center;      /* 세로 중앙 */

  width: 390px;
  height: 45px;
  border-radius: 5px;
  background-color: #B2DFDB; /* 파스텔 민트 */
  font-weight: 600;
}

.profile-sale{
  display: flex;
  justify-content: center;  /* 가로 중앙 */
  align-items: center;      /* 세로 중앙 */

  width: 390px;
  height: 45px;
  border-radius: 5px;
  background-color: #FFCDD2; /* 파스텔 핑크 */
  font-weight: 600;
}

.scroll-box {
  width: 390px;         /* Box width */
  min-height: 20px;
  max-height: 230px;        /* Box height */

  overflow-y: scroll;     /* Vertical scroll */
  overflow-x: hidden;   /* Hide horizontal scroll */
  background-color: #D8D8D8; /* Background color */
  border-radius: 5px;
}

.scroll-box::-webkit-scrollbar {
  width: 8px;          /* Scrollbar width */
}

.scroll-box::-webkit-scrollbar-thumb {
  background: #6E6E6E;    /* Scrollbar thumb color */
  border-radius: 2px; /* Rounded scrollbar */
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background: #555;    /* Thumb hover color */
}

.scroll-box::-webkit-scrollbar-track {
  background: #A4A4A4; /* Scrollbar track (background) color */
  border-radius: 2px;  /* Rounded track */
}

