.register-item-main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}

.register-item-container-mini {
    width: 6rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-family: Arial, sans-serif;
    border: #A3A5A9 1px solid;
    border-radius: 20px;
    background: white;
    position: relative;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.register-item-container-mini .register-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.register-item-container-mini .photo-div {
    width: 100%;
    height: 100%;
}

.photo-div img {
    height: 100%; /* 비율 유지 */
    width: 100%; /* 부모의 가로 크기에 맞춤 */
    object-fit: cover; /* 필요 시 이미지 잘라내기 */
  }

.content-div {
    width: 80%;
}

.btn-div {
    width: 10%;
}

.name-div {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
    align-items: center;
}
.rarity-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.quantity-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.price-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.content-div .top-section {
    display: flex;
    gap: 0.5rem;
    width:40%;
}
.content-div .bottom-section {
    display: flex;
    gap: 5rem;
    width : 80%;
}

.bottom-section .bottom-left {
    display: flex;
    gap: 0.5rem;
    width: 50%;
}
.bottom-section .bottom-right {
    display: flex;
    gap: 0.5rem;
    width: 50%;
}

.register-item-container-mini .item-description {
    margin: 0;
    font-size: 16px;
    color: #333;
    width: 3rem;
    text-align: center;
}

.register-item-container-mini input {
    height: 2rem;
    font-size: 16px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 1rem;
    background-color: rgb(233, 233, 233);
  }

  .bottom-left input {
    width : 3.5rem;
  }

.register-item-container-mini .quantity {
    position: absolute;
    top: -20px; /* 상단 여백 */
    right: -20px; /* 우측 여백 */
    border: 0;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #fa5a5a;
    white-space: nowrap;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}   

.register-item-container-mini button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.egister-item-container-mini .card-name {
    width: 100%;
}

.registerDeck-section .register-section {
    display: contents;
}