.nav {
    background-color: #08ABF5;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
  }
  
  .nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
  }
  
  .left {
    display: flex;
    gap: 1rem; /* 좌측 메뉴 간격 */
  }

  .right {
    display: flex;
    gap: 1rem; /* 우측 메뉴 간격 */
  }