.result-item {
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-bottom: 5px;
}

.result-item-container {
    width: 80%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    border: #A3A5A9 1px solid;
    border-radius: 20px;
    background: white;
  }

  .result-list {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .result-avatar {
    flex: 0 0 50px;
    margin-right: 10px;
  }
  
  .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #A3A5A9 1px solid;
    object-fit: cover;
  }
  
  .result-info {
    flex: 1;
    margin-right: 10px;
  }
  
  .item-description {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  .item-tag {
    font-size: 12px;
    color: red;
  }
  
  .result-dropdown {
    flex: 0 0 80px;
    margin-right: 10px;
  }
  
  .dropdown-select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
  }
  
  .result-details {
    text-align: right;
  }
  
  .item-price {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  
  .seller-info {
    font-size: 12px;
    color: #555;
    margin: 0;
  }

  .result-filtering {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border: #A3A5A9 1px solid;
    border-radius: 20px;
    background: white;
    height: 25px;
  }

  .result-filtering-each, .result-filtering-deck {
    display: flex;
    margin: 0 10px;
    align-items: center;
  }

  .result-filtering-each  p, .result-filtering-deck p {
    margin: 0;
    font-size: 14px;
  }

  .result-header {
    display: flex;
        width: 820px;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
  }

  .result-rare-select {
    font-size: 14px;
  }

  .result-filtering-input {
    width: 30px;
    border: #A3A5A9 1px solid;
  }