.search-bar {
    width: 60%;
    height: 3rem;
    display: flex;
    border-radius: 25px;
    border: 2px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  /* 부드럽고 자연스러운 그림자 */
    transition: box-shadow 0.3s ease; /* 포커스 시 부드러운 전환 효과 */
}

.search-input {
    all: unset;
    width: 100%;
    padding: 1rem;
}

.search-icon {
    width: 50%;
    padding: 1rem;
}